.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: linear-gradient(to bottom, white 30%, #141414 30%);
}

.features__row {
  display: flex;
  gap: 42px;
  padding-bottom: 32px;
  justify-content: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
  fill: gray;
  transform: scale(0.7);
}

